.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 40px;
  position: relative;
  gap: 30px;
  @media (min-width: 768px) {
    padding: 120px 40px 60px;
    gap: 40px;
  }
  & > span {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 250px;
    @media (min-width: 768px) {
      height: 350px;
      max-width: 500px;
    }
  }
  & > a {
    color: var(--gray-color);
    animation: fadeInOut 1.5s infinite;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1; /* 완전히 보이는 상태 */
  }
  50% {
    opacity: 0; /* 투명한 상태 */
  }
}
