.contents {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 100%;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.title {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: center;
  min-height: 500px;
  gap: 8px;
}
.handler {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  .gotta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: var(--secondary-color);
    width: 100px;
    height: 40px;
    border: 1px solid var(--gray-color);
  }
  .save {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    & > button {
      display: inline-flex; /* 내부 콘텐츠를 정렬하기 위해 flex 사용 */
      align-items: center; /* 수직 정렬 */
      justify-content: center;
      font-size: larger;
      background-color: var(--secondary-color);
      border: 1px solid var(--gray-color);
      width: 200px;
      height: 40px;
    }
  }
}
