.contents {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 100%;
}
.title {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > button {
    width: 100px;
    height: 40px;
  }
}
.contentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
