@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #E0F4FF, #BAE6FD);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --thin-border: 1px solid #BAE6FD;
  --secondary-color: #38BDF8;
  --primary-color: #0EA5E9;
  --light-primary-color: #E0F4FF;
  --dark-primary-color: #0284C7;
  --text-color: #0C4A6E;
  --gray-color: #64748B;
}
